.whole-page {
  background-color: #171717;
  font-family: sans-serif;
  padding-bottom: 240px;
}
.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.main-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}
.callme-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  min-width: 218px;
  border: solid 1px #e4b564;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}
.callme-botton > img {
  margin-right: 10px;
}
.header {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.header1 {
  margin-top: 120px;
}
.heating-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.heating-elements-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  grid-template-areas:
    "hse1 hse1 hse2 hse2 hse3 hse3"
    "hse4 hse4 hse4 hse5 hse5 hse5";
}
.he1 {
  grid-area: hse1;
  background: #634f2c;
}
.he2 {
  grid-area: hse2;
  background: #b4a385;
}
.he3 {
  grid-area: hse3;
  background: #e4b564;
}
.he4 {
  grid-area: hse4;
  background: #635a4a;
}
.he5 {
  grid-area: hse5;
  background: #b08c4d;
}
.heating-element {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 468px;
}
.heating-link {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.header2 {
  margin-top: 160px;
}
.autopark-elements-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 1100px;
  gap: 20px;
  margin-top: 94px;
  padding-bottom: 190px;
}
.autopark-elements-container > li {
  min-width: 467px;
}
.autopark-element1 {
  min-height: 313px;
  background: #0e0e0e;
}
.autopark-element2 {
  min-height: 560px;
  background: #1f1f1f;
}
.autopark-element3 {
  min-height: 439px;
  background: #242424;
}
.autopark-element4 {
  min-height: 405px;
  background: #e4b564;
}
.autopark-element5 {
  min-height: 255px;
  background: #1f1f1f;
}
.autopark-element6 {
  min-height: 313px;
  background: #0e0e0e;
}
.autopark-element7 {
  min-height: 277px;
  background: #0a0909;
}
.autopark-link {
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  display: block;
  padding-top: 45px;
  padding-left: 50px;
}
.autopark-link2 {
  font-weight: 500;
}
.autopark-link4 {
  font-weight: 500;
  color: #000;
}
.autopark-link5 {
  font-weight: 500;
}
.autopark-link6 {
  font-weight: 500;
}
.autopark-link7 {
  font-weight: 700;
}
.project-section {
  background-color: #0e0e0e;
}
.project-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 160px;
}
.header3 {
  margin: 0;
}
.projects-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 180px;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
  border: solid 1px #e4b564;
}
.project-table {
  width: 100%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.project-table > li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 390px;
  min-width: 480px;
}
.project-table-element1 {
  background: #634f2c;
}
.project-table-element2 {
  background: rgba(232, 210, 171, 0.76);
}
.project-table-element3 {
  background: #e4b564;
}
.project-table-element4 {
  background: #635a4a;
}
.project-table-element5 {
  background: #b08c4d;
}
.project-table-element6 {
  background: #634f2c;
}
.project-link2 {
  display: block;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 30px 88px;
}
